{{> head}}

{{> navbar}}

<div class="container mt-5">

    <div class="row">
        <div class="col-8">
            <h1>Miguelo</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima aperiam, blanditiis pariatur aliquid est esse animi deserunt nulla
                vero voluptates fugit eligendi quisquam totam reprehenderit architecto. Odit suscipit obcaecati necessitatibus?
            </p>
        </div>

        <div class="col-4">
            <img src="./assets/img/yo.jpg" alt="" class="img-thumbnail">
        </div>

    </div>
</div>

{{> footer}}